@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Nunito';
  font-weight: 400;
  src: local('Lato'), url('./Nunito/Nunito-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunti';
  font-weight: 700;
  src: local('Lato'), url('./Nunito/Nunito-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunti';
  font-weight: 900;
  src: local('Lato'), url('./Nunito/Nunito-ExtraBold.ttf') format('truetype');
}
